<script lang="ts">
    import {page} from '$app/stores'

    /** @type {import('./$types').PageData} */
    export let data

    $: url = $page.url.pathname + $page.url.hash
    $: isHash = !!$page.url.hash
</script>

<nav>
    <ul>
        {#each data.menuData.links as link}
            <li><a href={link.url} >{link.label}</a></li>
        {/each}
        {#each data.pages as page}
            <li><a href="/page/{page.id}.html" >{page.title}</a></li>
        {/each}
    </ul>
</nav>

<slot></slot>